@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.catalog-page {
  &__container {
    @include container;
  }

  &__title {
    @include typography-h1;
    margin: 0 0 $space-32;
    color: $color-text-primary;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(280px, 30vw, 320px), 1fr));
    gap: $space-24;
  }
}

[data-theme='dark'] .catalog-page .catalog-page__title {
  color: $color-text-primary-dark;
}
